HomeChallenge4/node_red.json
[{"id":"fcbaec24.1b652","type":"tab","label":"HomeChallenge4","disabled":false,"info":""},{"id":"d9477f55.d09d88","type":"inject","z":"fcbaec24.1b652","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["6e1a7fc5.fcd03"]]},{"id":"6e1a7fc5.fcd03","type":"file in","z":"fcbaec24.1b652","name":"","filename":"/home/user/Desktop/HomeChallenges/HomeChallenge4/traffic.csv","format":"utf8","chunk":false,"sendError":false,"x":420,"y":240,"wires":[["64c7a24e.ff9eec"]]},{"id":"64c7a24e.ff9eec","type":"csv","z":"fcbaec24.1b652","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":730,"y":240,"wires":[["76489de3.1db6dc"]]},{"id":"76489de3.1db6dc","type":"function","z":"fcbaec24.1b652","name":"mqtt filter","func":"if (msg.payload.col1.includes(\"MQTT\")) {\n    delete msg.payload.col1;\n    return msg;\n}","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["8f973816.a3c118"]]},{"id":"8f973816.a3c118","type":"split","z":"fcbaec24.1b652","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":240,"wires":[["49d9775.4c1df88"]]},{"id":"49d9775.4c1df88","type":"switch","z":"fcbaec24.1b652","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*Publish Message.*\\[factory\\/department1\\/section1\\/plc\\].*","vt":"str","case":false},{"t":"regex","v":".*Publish Message.*\\[factory\\/department3\\/section3\\/plc\\].*","vt":"str","case":false},{"t":"regex","v":".*Publish Message.*\\[factory\\/department1\\/section1\\/hydraulic_valve\\].*","vt":"str","case":false},{"t":"regex","v":".*Publish Message.*\\[factory\\/department3\\/section3\\/hydraulic_valve\\].*","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":4,"x":90,"y":360,"wires":[["912a8936.2869d8"],["912a8936.2869d8"],["f6e45e17.035308"],["f6e45e17.035308"]]},{"id":"912a8936.2869d8","type":"function","z":"fcbaec24.1b652","name":"value filter","func":"msg.payload = msg.payload.substring(msg.payload.indexOf(\"]\") + 1).trim();\nif (msg.payload) {\n    let text = Buffer.from(msg.payload, \"hex\").toString();\n    let obj = JSON.parse(text);\n    msg.payload = obj.value;\n    msg.field = 1;\n    return msg;\n}","outputs":1,"noerr":0,"x":250,"y":300,"wires":[["2cb32d10.36bb6a"]]},{"id":"f6e45e17.035308","type":"function","z":"fcbaec24.1b652","name":"value filter","func":"msg.payload = msg.payload.substring(msg.payload.indexOf(\"]\") + 1).trim();\nif (msg.payload) {\n    let text = Buffer.from(msg.payload, \"hex\").toString();\n    let obj = JSON.parse(text);\n    msg.payload = obj.value;\n    msg.field = 2;\n    return msg;\n}","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["2cb32d10.36bb6a"]]},{"id":"d5013359.f0a86","type":"mqtt out","z":"fcbaec24.1b652","name":"mqtt plc publish","topic":"channels/1064938/publish/fields/field1/JA67WXYQIFZ3J7L8","qos":"0","retain":"false","broker":"d4345605.233ac","x":840,"y":320,"wires":[]},{"id":"2cb32d10.36bb6a","type":"delay","z":"fcbaec24.1b652","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":360,"wires":[["a4940510.dea53","5bae0a7.3684274"]]},{"id":"629a680.0daa518","type":"mqtt out","z":"fcbaec24.1b652","name":"mqtt valve publish","topic":"channels/1064938/publish/fields/field2/JA67WXYQIFZ3J7L8","qos":"0","retain":"false","broker":"d4345605.233ac","x":850,"y":400,"wires":[]},{"id":"5bae0a7.3684274","type":"debug","z":"fcbaec24.1b652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":460,"wires":[]},{"id":"a4940510.dea53","type":"switch","z":"fcbaec24.1b652","name":"","property":"field","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":360,"wires":[["d5013359.f0a86"],["629a680.0daa518"]]},{"id":"d4345605.233ac","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
