HomeChallenge5/FirstFlow.json
[{"id":"f558444c.45b5a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e65d83c.486f1","type":"tcp in","z":"f558444c.45b5a8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":210,"y":120,"wires":[["e2b60a7b.76944"]]},{"id":"95e313a2.ff81a8","type":"mqtt out","z":"f558444c.45b5a8","name":"mqtt field1","topic":"channels/1070293/publish/fields/field1/WE9UL0I0DY0FTTG5","qos":"0","retain":"","broker":"897cc2ee.08442","x":990,"y":80,"wires":[]},{"id":"d254a935.62cde","type":"mqtt out","z":"f558444c.45b5a8","name":"mqtt field2","topic":"channels/1070293/publish/fields/field2/WE9UL0I0DY0FTTG5","qos":"0","retain":"","broker":"897cc2ee.08442","x":990,"y":180,"wires":[]},{"id":"485e009.27f268","type":"debug","z":"f558444c.45b5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":240,"wires":[]},{"id":"8801375b.70239","type":"switch","z":"f558444c.45b5a8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"foo/bar2","vt":"str","case":false},{"t":"regex","v":"foo/bar3","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":120,"wires":[["95e313a2.ff81a8"],["d254a935.62cde"]]},{"id":"e2b60a7b.76944","type":"function","z":"f558444c.45b5a8","name":"filter <= 70","func":"let obj = JSON.parse(msg.payload);\nif (obj.value <= 70) {\n    msg.payload = obj.value;\n    msg.topic = obj.topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["195338b4.3e4147"]]},{"id":"195338b4.3e4147","type":"delay","z":"f558444c.45b5a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":120,"wires":[["8801375b.70239","485e009.27f268"]]},{"id":"897cc2ee.08442","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
