HomeChallenge5/FirstFlow.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"df193e61.773ec8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"/n","topic":"","base64":false,"x":210,"y":120,"wires":[["d377aa27.8088a"]]},{"id":"ad3ac501.6f978","type":"mqtt out","z":"b5d1af96.0416f8","name":"mqtt field1","topic":"channels/1070293/publish/fields/field1/WE9UL0I0DY0FTTG5","qos":"","retain":"","broker":"de3e8f33.0ba2","x":990,"y":80,"wires":[]},{"id":"78ce1b5c.0e05c4","type":"mqtt out","z":"b5d1af96.0416f8","name":"mqtt field2","topic":"channels/1070293/publish/fields/field2/WE9UL0I0DY0FTTG5","qos":"","retain":"","broker":"8cd7a4be.4d0fc8","x":990,"y":180,"wires":[]},{"id":"4c3dcfa1.028b08","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":300,"wires":[]},{"id":"d377aa27.8088a","type":"function","z":"b5d1af96.0416f8","name":"filter value > 70","func":"if(msg.payload.)\nreturn msg;","outputs":1,"noerr":3,"x":480,"y":120,"wires":[["2f6f80a6.ba258","4c3dcfa1.028b08"]]},{"id":"2f6f80a6.ba258","type":"switch","z":"b5d1af96.0416f8","name":"","property":"payload","propertyType":"flow","rules":[{"t":"cont","v":"topic","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":120,"wires":[["ad3ac501.6f978","78ce1b5c.0e05c4"]]},{"id":"de3e8f33.0ba2","type":"mqtt-broker","z":"","name":"ThingSpeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8cd7a4be.4d0fc8","type":"mqtt-broker","z":"","name":"","broker":"https://thingspeak.com/channels/1070293","port":"1883","clientid":"1070293","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
